html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.form-header{
  height: 50px;
  width: 100vw;
  background-color: black;
}

.dark-mode{
  color: white;
}

.light-mode{
  color: black;
}

.bg-homepage-dark{
  background-color: gray;
}

.bg-homepage-light{
  background-color: aliceblue;
}

.setup-form{
  margin-top: 50px;
}

.profile-setup{
  width:100%;
  background-color: gray;
}